body {
    color:blue;
    background-color: pink;
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera, #result {
    width: 350px;
    height: 300px;
    border: 1px dashed mediumvioletred;
}

.name_of_objects, #result_object_name, #result_object_accuracy {
    color: red;
}