body {
    color: pink;
    background-color: green;
}

.heading {
    width: 80%;
    font-size: 22px;
}

#camera {
    width: 350px;
    height: 300px;
    border: 10px dashed royalblue;
}

.name_of_objects, #result_object_name, #result_object_accuracy {
    color:white;
}